*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

#navbar{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    overflow: auto;
    line-height: 2.7em;
}
#navbar h1{
    margin-left: 15px;
}
.nav{
    margin-right: 20px;
    
}
.nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
    padding: 10px;
}
.nav a:hover{
    background-color: #444;
    color: #f7c08a;
}
#showcase{
    background: url('./picture/showcase.jpg') no-repeat center center/cover;
    height: 600px;
    color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    
}
.showcasecontent h1{
    font-size: 60px;
    line-height: 1.3em;
}
.enjoytxt{
    color: #f7c08a;
}
.para{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 19px;
    line-height: 1.6em;
}
.btn{
    
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: #333;
    border-radius: 5px;
    border: none;
    padding: 13px 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: #444;
    color: #f7c08a;
}
#hotelinfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.infoimg img {
    width: 100%;
    height: auto;
  }
  .infocontent{
    text-align: center;
    color: #fff;
    background-color: #333;
  }
  .infoheading{
    font-size: 50px;
    margin-top: 16px;
  }
  .thehistory{
    color: #f7c08a;
  }
  .infocontent p:nth-child(2){
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .readmorebtn{
    text-decoration: none;
    color: #3a3939;
    font-size: 18px;
    background-color: #f1eded;
    border-radius: 5px;
    border: none;
    padding: 13px 20px;
    
  }
  .features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .box {

    text-align: center;
    padding: 40px;
    height: 200px;
  }
.box i{
    margin-bottom: 10px;
}
  .meals{
    background-color: #f7c08a;

    
  }
  .footer{
    text-align: center;
    background-color: #333;
    color: #f1eded;
    padding: 15px;
    font-size: 15px;
  }

  /* Contact page style */
  #contactform{
    padding: 10px;
  }
  #contactform .contact{
    color: #f7c08a;
  }
  #contactform .formgroup{
    margin-bottom: 20px;
  }
  #contactform label{
    display: block;
    margin-bottom: 5px;
  }
  #contactform input,#contactform textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
  }
  #contactform textarea{
    height: 200px;
  }
  #contactform input:focus,#contactform textarea:focus{
    outline: none;
    border-color: #f7c08a;
  }
